.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.elem {
  cursor: pointer;
}